version: '3.2'

services:
  proxy:
    image: traefik:1.7-alpine
    hostname: proxy
    domainname: srvz-webapp.he-arc.ch
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.toml:/etc/traefik/traefik.toml
      - proxy:/etc/traefik/acme
    ports:
      - "8080:8080"
      - "80:80"
      - "443:443"
    command: -c /etc/traefik/traefik.toml --docker.domain=srvz-webapp.he-arc.ch

  portainer:
    image: portainer/portainer:1.19.2
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer:/data
    # private
    ports:
      - "9000:9000"
    # public
    #labels:
    #  - "traefik.backend=portainer"
    #  - "traefik.frontend.rule=Host:portainer.srvz-webapp.he-arc.ch"
    #  - "traefik.port=9000"

  # Databases

  postgres:
    image: postgres:10-alpine
    container_name: postgres
    environment:
      - POSTGRES_PASSWORD=root
      - POSTGRES_PGDATA=/var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
     - postgres:/var/lib/postgresql/data

  mysql:
    image: mysql:5.7
    container_name: mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
    ports:
      - "3306:3306"
    volumes:
      - mysql:/var/lib/mysql

  # Email

  smtp:
    image: mailhog/mailhog:latest
    container_name: smtp
    labels:
      - "traefik.frontend.rule=Host:webmail.srvz-webapp.he-arc.ch"
      - "traefik.port=8025"
      - "traefik.enable=true"

networks:
  default:
    external:
      name: webapp-net

volumes:
  proxy:
  portainer:
  mysql:
  postgres:
