version: '3'

services:
  proxy:
    image: traefik:1.3-alpine
    hostname: proxy
    domainname: docker.localhost
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik.toml:/etc/traefik/traefik.toml
      - proxy:/etc/traefik/acme
    ports:
      - "8080:8080"
      - "80:80"
      - "443:443"
    command: -c /etc/traefik/traefik.toml --docker.domain=docker.localhost
    labels:
      - "traefik.enable=false"

   # Free project

  admin:
    image: greut/webapp-server:latest
    environment:
      - GROUPNAME=admin
      - PASSWORD=root
      - REPOSITORY=http://github.com/HE-Arc/demo-rails-application
    hostname: admin
    volumes:
      - free:/var/www
      - ./config:/root/config:ro
    ports:
      - "2222:22"
    depends_on:
      - postgres
      - mysql
      - smtp
    labels:
      - "traefik.frontend.rule=Host:admin.docker.localhost"
      - "traefik.port=80"

  admin_redis:
    image: redis:3.2-alpine
    volumes:
      - admin_redis:/data
    labels:
      - "traefik.enable=false"


  # Python

  weblog:
    image: greut/webapp-server:python
    environment:
      - GROUPNAME=weblog
      - PASSWORD=root
      - REPOSITORY=http://github.com/HE-Arc/demo-rails-application
    hostname: python
    volumes:
      - python:/var/www
      - ./config:/root/config:ro
    ports:
      - "2223:22"
    depends_on:
      - postgres
      - mysql
      - smtp
    labels:
      - "traefik.frontend.rule=Host:weblog.docker.localhost"
      - "traefik.port=80"

  weblog_redis:
    image: redis:3.2-alpine
    volumes:
      - weblog_redis:/data
    labels:
      - "traefik.enable=false"


  # PHP project.

  eatapp:
    image: greut/webapp-server:laravel
    environment:
      - GROUPNAME=eatapp
      - PASSWORD=eatapp  # CHANGE ME
      - REPOSITORY=https://github.com/HE-Arc/EatApp
    hostname: eatapp
    volumes:
      - eatapp:/var/www
      - ./config:/root/config:ro
    ports:
      - "2224:22"
    depends_on:
      - postgres
      - mysql
      - smtp
    links:
      - eatapp_redis:redis
    labels:
      - "traefik.frontend.rule=Host:eatapp.docker.localhost"
      - "traefik.port=80"

  eatapp_redis:
    image: redis:3.2-alpine
    volumes:
      - eatapp_redis:/data
    labels:
      - "traefik.enable=false"

  # Ruby on Rails project

  capistrano:
    image: greut/webapp-server:rails
    environment:
      - GROUPNAME=capistrano
      - PASSWORD=capistrano  # CHANGE ME
    hostname: capistrano
    volumes:
      - capistrano:/var/www
      - ./config:/root/config:ro
    ports:
      - "2225:22"
    depends_on:
      - postgres
      - mysql
      - smtp
    links:
      - capistrano_redis:redis
    labels:
      - "traefik.frontend.rule=Host:capistrano.docker.localhost"
      - "traefik.port=80"

  capistrano_redis:
    image: redis:3.2-alpine
    volumes:
      - capistrano_redis:/data
    labels:
      - "traefik.enable=false"

  # Shared services
  postgres:
    image: postgres:9.6-alpine
    environment:
      - POSTGRES_PASSWORD=root
      - POSTGRES_PGDATA=/var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
     - postgres:/var/lib/postgresql/data
    labels:
      - "traefik.enable=false"

  mysql:
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD=root
    ports:
      - "3306:3306"
    volumes:
      - mysql:/var/lib/mysql
    labels:
      - "traefik.enable=false"

  smtp:
    image: mailhog/mailhog:latest
    labels:
      - "traefik.frontend.rule=Host:webmail.docker.localhost"
      - "traefik.port=8025"

volumes:
  proxy:
  mysql:
  postgres:
  # base
  admin:
  admin_redis:
  # laravel
  eatapp:
  eatapp_redis:
  # python
  weblog:
  weblog_redis:
  # rails
  capistrano:
  capistrano_redis:
