defaultEntryPoints = ["http", "https"]

[global]
  sendAnonymousUsage = false

[log]
  level = "DEBUG"
  filePath = "/proc/self/fd/1"
  format = "json"

[api]
  dashboard = true
  insecure = true

[providers]
  [providers.docker]
    endpoint = "unix:///var/run/docker.sock"
    watch = true
    exposedByDefault = false

[entryPoints]
  [entryPoints.http]
    address = ":80"

  [entryPoints.https]
    address = ":443"

  [entryPoints.traefik]
    address = ":8080"

[certificatesResolvers.letsencrypt.acme]
  email = "yoan.blanc@he-arc.ch"
  storage = "/etc/traefik/acme/acme.json"
  [certificatesResolvers.letsencrypt.acme.httpChallenge]
    entryPoint = "http"
